@{
    Layout = null;
}

@inject IViewLocalizer localizer
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using RentingCars.Models.Auth.ActionRequest
@model LoginAR
@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> options

<!DOCTYPE html>
<html lang="@(isRTL ? "ar" : "en")" dir="@(isRTL ? "rtl" : "ltr")">
<head>
    <meta charset="UTF-8">
    <title>@localizer["Log In"]</title>
    <link rel="stylesheet" href="~/css/Login.css?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div style="margin-top: -20px;" >@Html.Partial("_SelectLanguagePartial")</div> 
        @Html.Partial("_ValidationScriptsPartial")
    </header>

    <div class="container">
        <div class="title">@localizer["Log In"]</div>
        <div class="content">
            <form asp-controller="auth" asp-action="Login" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">@localizer["Phone Number"]</span>
                        <input asp-for="Phone" type="text" class="input" placeholder="@localizer["Enter your Phone Number"]" required>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">@localizer["Password"]</span>
                        <input asp-for="Password" type="password" id="password" class="input" placeholder="@localizer["Enter your password"]" required>
                        <span class="eye-icon" onclick="togglePasswordVisibility()">👁</span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="RememberMe" type="checkbox" id="rememberMe">
                        <label for="rememberMe">@localizer["Remember Me"]</label>
                    </div>
                    <div class="button">
                        <input type="submit" value="@localizer["Log In"]">
                    </div>
                </div>
                <div class="creat_account">
                    <span>@localizer["If you don't have an account"] <a class="a" asp-controller="auth" asp-action="Register">@localizer["Create account"]</a></span>
                </div>
            </form>
        </div>
    </div>
    <script>
        function togglePasswordVisibility() {
            var input = document.getElementById('password');
            var icon = document.querySelector('.eye-icon');
            if (input.type === "password") {
                input.type = "text";
                icon.textContent = "👁‍🗨";
            } else {
                input.type = "password";
                icon.textContent = "👁";
            }
        }

        function changeLanguage(lang) {
            document.documentElement.lang = lang; 
            document.body.setAttribute('dir', lang === 'ar' ? 'rtl' : 'ltr');
        }
    </script>
</body>
</html>